[Desktop Entry]
Name=Slimrat
Comment=Download files from various hosters
GenericName=File Downloader
X-GNOME-FullName=Slimrat File Downloader
Categories=GNOME;GTK;Network;
Exec=slimrat-gui %U
Icon=slimrat
Terminal=false
Type=Application
StartupNotify=true
